---
title: Yük testi sonuçları karşılaştırma
ms.date: 10/19/2016
ms.topic: conceptual
helpviewer_keywords:
- load tests, reporting
- load tests, results
ms.assetid: 31874114-459a-45d5-9f8b-2ea503627db8
author: gewarren
ms.author: gewarren
manager: jillfra
ms.openlocfilehash: dcd7a3a6e3aca3320cfc016d9e3b5db4aa0991ba
ms.sourcegitcommit: 21d667104199c2493accec20c2388cf674b195c3
ms.translationtype: MT
ms.contentlocale: tr-TR
ms.lasthandoff: 02/08/2019
ms.locfileid: "55955095"
---
# <a name="report-load-tests-results-for-test-comparisons-or-trend-analysis"></a>Rapor yük testi sonuçlarını test karşılaştırmaları veya eğilim analizi

İki veya daha fazla test sonucunu temel alan Microsoft Excel yük testi raporları oluşturabilirsiniz.

[!INCLUDE [web-load-test-deprecated](includes/web-load-test-deprecated.md)]

Yük testi raporlarının iki türü kullanılabilir:

- Karşılaştırmayı Çalıştır&mdash;tabloları ve çubuk grafikleri kullanarak yan yana karşılaştırma verileri görüntüleyen aslında iki raporlar bu rapor eder.

- Eğilim&mdash;, iki veya daha fazla rapor eğilim çözümlemesi oluşturabilirsiniz. Çizgi grafikler kullanarak sonuçlar görüntülenir.

Başarım verisini hissedarlarla paylaşmak ve genel performansı ve sistem durumu iyiye iletmek için her iki rapor kullanılabilir ya da daha da kötüsü.

Rapor tanımları yük testi veritabanında depolanır. Rapor kaydedildiğinde, rapor için tanım veritabanında kaydedilir ve daha sonra yeniden kullanılabilir.

Ayrıca, elektronik tablo dosyasını, hissedarların raporu görmek için veritabanına bağlanmak zorunda değilsiniz için hissedarlarla paylaşılabilir.

> [!NOTE]
> Bir yük testine yorum eklerseniz, bunlar Excel raporunda görüntülenir.

## <a name="tasks"></a>Görevler

|Görevler|İlişkili konular|
|-|-|
|**Performans ve stres raporu oluşturun:** Microsoft Excel kullanarak yük ve web performans testlerinizi üzerinde raporlar oluşturabilirsiniz.|- [Nasıl Yapılır: Microsoft Excel kullanarak yük testi başarım raporları oluşturma](../test/how-to-create-load-test-performance-reports-using-microsoft-excel.md)|
|**Microsoft Word kullanılarak el ile performans ve stres raporu oluşturun:** Raporları, yük ve web performans testleri el ile özeti, tablo ve graf verilerini bir Microsoft Word belgesine yapıştırarak oluşturabilirsiniz.|- [Nasıl Yapılır: Microsoft Word kullanılarak bir yük testi başarım raporunu el ile oluşturma](../test/how-to-manually-create-a-load-test-performance-report-using-microsoft-word.md)|

## <a name="see-also"></a>Ayrıca bkz.

- [Yük testi sonuçlarını çözümleme](../test/analyze-load-test-results-using-the-load-test-analyzer.md)