---
title: 'Nasıl yapılır: Yük testi sonuçlarında özel grafikler oluşturma'
ms.date: 10/19/2016
ms.topic: conceptual
helpviewer_keywords:
- load test results graphs, creating
- load test results graphs
ms.assetid: 17fcafce-76f9-4411-9389-6e5376eab236
author: gewarren
ms.author: gewarren
manager: jillfra
ms.openlocfilehash: 6df80340f57ba40597af67d57ba1bda3da778f4b
ms.sourcegitcommit: 1fc6ee928733e61a1f42782f832ead9f7946d00c
ms.translationtype: MT
ms.contentlocale: tr-TR
ms.lasthandoff: 04/22/2019
ms.locfileid: "60075135"
---
# <a name="how-to-create-custom-graphs-in-load-test-results"></a>Nasıl yapılır: Test sonuçları yükleme özel grafikler oluşturma

Yük testi sonuçları hakkında belirli bilgi görüntüleyen grafikleri tasarlayabilirsiniz. Özel bir grafik, graf görüntüleyen yük testi sayacı belirterek tasarlayın.

Aşağıdaki yordamda, bir yük testi çalışırken veya çalışması bittikten sonra gerçekleştirebilirsiniz.

[!INCLUDE [web-load-test-deprecated](includes/web-load-test-deprecated.md)]

## <a name="to-create-a-custom-load-test-results-graph"></a>Özel yük testi sonuçları grafiği oluşturmak için

1. Üzerinde **yük testi** araç seçin **yeni grafik Ekle**.

     \- veya -

     Üzerinde **Yük Testi Çözümleyicisi**, sağ **sayaçları** Masası veya bir grafiğe tıklayın ve ardından **Grafik Ekle**.

     **Grafik adı girin** iletişim kutusu görüntülenir.

2. Altında **grafik adı**grafik için bir ad girin ve seçin **Tamam**.

     Yeni grafik görünür **Yük Testi Çözümleyicisi**. Şu anda seçili graf panelinde görünür; Bu panelde görüntülenen graf değiştirir.

3. Yeni grafik sayaçları ekleyerek özelleştirin. Daha fazla bilgi için [nasıl yapılır: Grafiklerde sayaç ekleme ve silme](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md).

## <a name="see-also"></a>Ayrıca bkz.

- [Grafik görünümünde yük testi sonuçlarını çözümleme](../test/analyze-load-test-results-in-the-graphs-view.md)
- [Nasıl yapılır: Grafiklerde sayaç ekleme ve silme](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md)